.AnimePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.anime-filter {
  color: white;
  height: fit-content;
}
.anime-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(6, auto);
  gap: 1rem;
  /* outline: 1px solid white; */
  flex-wrap: wrap;
}
.test2 {
  width: fit-content;
}
