.AnimeSearchContainer {
  display: flex;
  margin: 0;
  padding: 0.5rem;
  align-items: center;
  margin-left: auto;
  /* outline: 1px solid white; */
}
.active {
  border: 1px solid white;
  border-radius: 3px;
  opacity: 0.3;
}
.AnimeSearchInput {
  width: 0;
  border: none;
  outline: none;
  background-color: rgba(46, 64, 87, 0.4);
}
.activeInput {
  visibility: visible;
  width: 15ch;
  opacity: 1;
  color: white;
}
.search {
}
