* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  --primary-color: rgb(41, 47, 54);
  --secondary-color: rgb(78, 205, 196);
  background-color: var(--primary-color);
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cursor {
  position: absolute;
}
