html,
body {
  --primary-color: rgb(41, 47, 54);
  --secondary-color: rgb(78, 205, 196);
  background-color: var(--primary-color);
  margin: 0;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  /* overflow: hidden; */
  /* border: 1px solid red; */
}

.cursor {
  position: absolute;
}
