.AnimePage .page-footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  width: 100%;
  height: fit-content;
  gap: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
}

.pageNumber {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 12px;
  cursor: pointer;
  padding: 0.4rem 0.67rem;
  border-radius: 2px;
}
.pageNumber:hover {
  text-decoration: underline;
}
.pageNumber_active {
  outline: 1px solid white;
}

.pageFooter-goToFirstPage:hover,
.pageFooter-goToLastPage:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pageFooter-skipButton {
  position: relative;
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
}
.pageFooter-skipButton:before {
  content: "";
  width: 100%;
  border-bottom: solid 1px #fff;
  position: absolute;
  left: 0;
  bottom: -1%;
  opacity: 0;
}
.pageFooter-skipButton:hover:before {
  opacity: 1;
}
